body {
    background: linear-gradient(#90CAF9, #039BE5, #0097A7);
    /* background: #90CAF9; */
    /* background-image: url('../images/blue-bg.png'); */
    font-family: 'Montserrat', sans-serif;
}

.jumbotron {
    background-color: rgba(255, 255, 255, 0);
    height: 100vh;
    margin-bottom: 0px;
}

.jumbo-header {
    position: relative;
    top: 50%;
}

h1 {
    font-size: 60px;
    font-family: 'Monoton', cursive;
    color: #B3E5FC;
    line-height: 50px;
}


/* #temperatureSlider {
    -webkit-appearance: slider-vertical;
} */

img {
    height: 150px;
}

#climate-icon {
    height: 160px;
}
#thermometer-icon {
    height: 125px;
}
.weatherOptions {
    text-align: center;
}